.wrapper {
  background: var(--main-bg);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.container {
  margin: auto;
  padding: 1rem;
}
.container header {
  display: flex;
  color: var(--text-1);
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  margin: 1rem 0;
}
.theme {
  display: flex;
  font-size: 10px;
  align-items: center;
}
.theme .theme_title {
  text-transform: uppercase;
  margin-right: 10px;
  letter-spacing: 1px;
}
.toggler {
  counter-reset: theme;
  background-color: var(--toggle-bg);
  border-radius: 1rem;
  padding: 3px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.toggler input {
  position: relative;
  margin: 0;
}
.toggler input:not(:last-child) {
  margin-right: 5px;
}
.toggler input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--toggle-bg);
}
.toggler input:checked:after {
  background-color: var(--primary-1);
}
.toggler input::before {
  content: counter(theme);
  counter-increment: theme;
  bottom: 100%;
  margin-bottom: 5px;
  position: absolute;
  left: 50%;
  color: var(--text-1);
  transform: translateX(-50%);
  font-size: 10px;
}

.display {
  margin: 1.5rem 0;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 0.9rem;
  background-color: var(--screen-bg);
}
.display textarea {
  width: inherit;
  border: none;
  outline: none;
  background-color: var(--screen-bg);
  resize: none;
  color: var(--text-1);
  text-align: right;
  font-size: 28px;
  width: 280px;
  margin: auto;
  margin-right: 0;
}
.display textarea::-webkit-scrollbar {
  display: none;
}
.key_pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;

  width: fit-content;
  margin: auto;
  padding: 1.5rem;
  background-color: var(--toggle-bg);
  column-gap: 0.75rem;
  row-gap: 1rem;
  border-radius: 0.75rem;
}
.error {
  background: hsl(6, 63%, 50%);
  font-size: 1rem;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 1rem 0;
}

.attribution {
  color: var(--text-1);
  font-size: 1rem;
}
.attribution a:hover {
  filter: invert() saturate(250);
}
